@layer theme, base, mui, components, utilities;
@import "tailwindcss";

/* Твои глобальные стили — лучше класть в layer components */
@layer components {
  .app-shell {
    height: 100vh;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}